/* imports */
@import url('../shared_assets/reset.css');
@import url('../shared_assets/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

:root {
  --size: 360px;
  --speed: 20s;
  /* --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8); */
  --easing: linear;
  --color1: hsla(281, 78%, 55%, 0.8);
  --color2: hsla(168, 100%, 58%, 0.7);
  --bg-gradient: linear-gradient(var(--color1), var(--color2));
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  font-family: "Noto Sans";
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  background-color: rgb(20 20 20);
  color: rgb(250 250 250);
  height: 100svh;
  overflow: hidden;
  scrollbar-gutter: stable;

  /* border:  red dotted 5px; */

}

.noise {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url(../shared_assets/noise.webp);
  background-size: 7%;
  opacity: .5;
  mix-blend-mode: overlay;
  z-index: -10;
}
.blob {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 4));
  background-image: var(--bg-gradient);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -20;
}
@media (min-width: 680px) {
  .blob {
      --size: 700px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .blob {
      animation: rotate var(--speed) var(--easing) infinite;
  }

}

main {
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 10;

  /* border: 5px dashed greenyellow; */
}

section {
  flex-grow: 1;
  flex-basis: 400px;

  /* border: greenyellow dashed 1px; */
}

.welcome-panel {
  display: grid;
  grid-template-rows: auto;
  font-size: 1.6rem;
  padding: 1.5rem .5rem .5rem;

}

.text h2 {
  font-size: 2em;
  margin: 1.2rem 0;
}

.text p, span {
  font-size: .98rem;
  max-width: 32ch;
  line-height: 1.6rem;
}

.beside {
  display: none;
}

@media (min-width: 845px){
  .below {
    display: none;
  }
  .beside {
    display: inline;
  }
}

.login-panel {
  background: rgba( 255, 255, 255, 0.133);
  color: rgb(255 255 255 / 1);
  box-shadow: 0 8px 32px 0 rgba( 30, 30, 30, 0.37 );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: .6rem;
  border: 1px solid rgba( 255, 255, 255, 0.20 );
  padding: 1.5rem .5rem .5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: clamp(.5rem, calc(.7rem + 1vw), 2.5rem);
  padding-block: 3rem 1rem;
  font-size: .8rem;
}

label {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
}

.login-input{
  position: relative;
  width: 100%;
  padding: .6rem .6rem .6rem 1.8rem;
  margin-bottom: 1rem;
  border: none;
  background: rgb(0 0 0 / 0);
  border-bottom: solid 1px rgb(255 255 255 / .20);
  color: inherit;
}

.login-input:focus,
.login-input:hover {
  outline: 0;
  border-bottom: solid 1px rgb(255 255 255 / .50);
}

.login-input::placeholder {
  font-weight: 400;
  color: rgb(255 255 255 / .50);
}

input[type=text], input[type=password] {
  background-repeat: no-repeat;
  background-position-y: center;  
  background-size: 1rem;

}
input[type=text] {
  background-image: url(../shared_assets/user-solid.svg);

}
input[type=password] {
  background-image: url(../shared_assets/lock-solid.svg);
}
.rememberPassword {
  vertical-align: middle;
}

input[type=checkbox]{
  accent-color: rgb(255 255 255);
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  margin: 1.2rem 0 1rem;
  gap: 1.5rem;
}
.buttons button {
  /* border: 1px solid hotpink; */
  border: none;
  background: none;
  padding: .5rem 1.2rem;
  cursor: pointer;
}

button[type=submit]{
  border-radius: .3rem;
  border: solid 2px rgb(20 20 20 / .50);
  background-color: rgb(20 20 20 / .80);
  background-image: radial-gradient(
    hsla(0, 0%, 28%, 60%), 
    transparent 55%
  );
  background-repeat: no-repeat;
  background-position: 0 80px;
  background-size: 100%;
  transition: background-position 233ms ease-in;
  color: rgb(255 255 255);
}

button[type=submit]:hover,
button[type=submit]:focus {
  background-position: 0 15px;
  transition: background-position 233ms ease-out;
}

button[type=submit]:focus{
  outline-color: var(--color1);
  outline-style: solid;

}
/* animação blob */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }