/* imports, resets e normalize */
@import url('../shared_assets/reset.css');
@import url('../shared_assets/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');



body {
    font-family: 'Oswald', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    font-display: swap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.urna {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.candidato-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 2.225rem;
    border-top: #333 2px solid;
    border-bottom: #333 2px solid;
    border-left: #333 2px solid;

}

.candidato-info img {
    max-width: 220px;
    aspect-ratio: 3/4;
    border: 1px solid #ccc;
    object-fit: cover;
    margin-bottom: 10px;
}

.numero-nome {
    text-align: center;
}

.numero-nome {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.numero-nome:first-letter{
    background-color: #e64a19;
}

.numero-nome span {
    font-size: .725em;
}

.teclado {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem; 
}

.teclado form {
    display: contents;
}

input {
    padding: 1rem; 
    margin-bottom: 10px;
    border: none;
    border-radius: .25rem;
    transition: border-color 0.2s;
    width: 100%;
    font-size: 1rem; 
    background-color: #222;
    color: #fff;
}

input:hover,
input:focus {
    outline: 2px solid darkgrey;

}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; 
    margin-top: 1rem; 
}

.numero {
    flex-grow: 1;
    padding: 1rem; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.2rem; 
    background-color: #333;
    color: #fff;
}

.numero:last-of-type{
    grid-column: 2/3;
}

.numero:hover {
    filter: brightness(90%);
}

.numero:focus {
    outline: 2px solid darkgrey;

}

.botoes {
    display: flex;
    flex-direction: row-reverse;
    gap: .725rem;
    align-items: flex-end;
}

button {
    padding: 1rem; 
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1rem; 
    text-transform: uppercase;
    color: #333;
}

.button:hover {
    filter: brightness(90%);
}

button:focus, button[type="submit"]:focus, button[type="reset"]:focus {
    outline: 2px solid darkgrey;
}

.verde {
    background-color: #4caf50;
    padding: 1.25rem 1rem;
}

.verde:hover {
    background-color: #45a049;
}

.vermelho {
    background-color: #ff5722;
}

.vermelho:hover {
    background-color: #e64a19;
}

.branco {
    background-color: #f2f2f2;
}

.branco:hover {
    background-color: #f5f5f5;
}